{% extends "base.html" %}
{% load static %}

{% block meta %}
  <!-- On Page META SEO -->
  <title>{% block page_title %} Note Taking App {% endblock %}</title>
  <meta name="description" content="{% block description %} Take Notes {% endblock %}">
  <meta name="keywords" content="{% block keywords %} React.js, Django {% endblock %}">
{% endblock meta %}

{% block body %}
  <div id="root"></div>
{% endblock %}

{% block page_js %}
  <script type="text/javascript" src="{% static 'JavaScript/bundles/NoteTaking-bundle.js' %}"></script>
{% endblock page_js %}
